<mat-sidenav-container class="dashboard-container">
  <!-- Sidenav para el menú lateral -->
  <mat-sidenav 
  #sidenav 
  class="custom-sidenav" 
  mode="over" [(opened)]="menuAbierto">
  <div class="sidenav-content">
    <mat-nav-list class="nav-list">
      <button mat-list-item routerLink="/dashboard">Inicio</button>
      <!-- Futuras secciones -->
    </mat-nav-list>
    <!-- logout -->
    <div class="logout-button">
      <button mat-list-item (click)="logout()">Cerrar sesión</button>
    </div>
  </div>
  </mat-sidenav>

  <mat-sidenav-content class="custom-content">
    <mat-toolbar class="toolbar" color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>
        <img src="/Recurso2.png" alt="logo" class="logo" />
      </div>
    </mat-toolbar>

    <div class="content">
      <h1>Gestion de Colores</h1>
      <div class="bienvenida">
        <p>Bienvenido <strong>{{ nombreUsuario }}</strong></p>
        <p>Esta es la sección de colores.</p>
      </div>
      <app-color-list></app-color-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
